<html>
    <head >
            <meta charset="utf-8" />
            <title>Służba</title>
            
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="jquery-ui-1.12.1/jquery-ui.min.css">
            <link rel="stylesheet" href="main.css" /> 
    </head>
    <body ng-app="Service" >
        <header>
            
        </header>
        <div class="container-fluid" class="row">
            <main class="col-sm-5">
                <h1>
                    Tabela słuzby
                </h1>
                <a href="#" class="floatRight" data-toggle="tooltip" data-placement="top" title="Kliknij w tytuł kolumny np: Imie by posortować" data-placement="top"><span class="glyphicon glyphicon-info-sign"></span></a>
                <table id = "serviceList" class="table table-striped">
                    <tr>
                        <th  onclick="sorting('id')" >
                            Id <span id="idArrow" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        </th>
                        <th  onclick="sorting('firstName')">
                            Imie <span id="firstNameArrow" class="glyphicon " aria-hidden="true"></span>
                        </th>
                        <th onclick="sorting('lastName')">
                            Nazwisko <span id="lastNameArrow" class="glyphicon " aria-hidden="true"></span>
                        </th>
                        <th onclick="sorting('dateOfBirth')">
                            Data Urodzenia <span id="dateArrow" class="glyphicon" aria-hidden="true"></span>
                        </th>
                        <th onclick="sorting('serviceFunction')">
                            Funkcja <span id="functionArrow" class="glyphicon" aria-hidden="true"></span>
                        </th>
                        <th onclick="sorting('experience')">
                            Doświadczenie <span id="expirienceArrow" class="glyphicon " aria-hidden="true"></span>
                        </th>
                    </tr>
                
                </table>
                <div id="pagetation" class="pagination"> 
            </div>
            </main>
            <br />
            <section class="col-sm-5">
                <h1>
                    Filtry
                </h1>
                <div class="row ">
                <div class="col-sm-6">
                    
                    <div id="namesFilters" class="filters">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wpisz część lub całość imienia bądż nazwiska by filtrować" data-placement="top"><span class="glyphicon glyphicon-info-sign"></span></a>
                        <input type="text" class="form-control" oninput="filtring()" id="wantedFirstName" placeholder="Filtr Imion">
                        <input type="text" class="form-control" oninput="filtring()" id="wantedLastName" placeholder="Filtr Nazwisk">
                    </div>
                    <div ng-controller="selectCtrl" class="filters">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Wybierz funkcje bądź doświadczenie by filtrować według warości" data-placement="top"><span class="glyphicon glyphicon-info-sign"></span></a>
                        <select  ng-model="serviceFunctions" class="form-control"  ng-options="x for x in servicesFunctions" id="servicesFunctionsOptions">
                    </select>
                        <select  ng-model="experiencesOptions" class="form-control"  ng-options="x for x in experiences" id="experiencesOptions">      
                    </select>
                    </div>
                </div>
                    <div class="col-sm-6">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Po wybraniu dwóch dat,zadziała filtr i wybierze rekordy mieszczące się w zakresie" data-placement="top"><span class="glyphicon glyphicon-info-sign"></span></a><br />
                        <div id="datepicker" class="filters"></div>
                        <div id="datepicker2" class="filters"></div><br />
                        <button id="dateReset" onclick="resetDatepickers()" class="btn btn-default">Zresetuj kalendarze</button>
                    </div>
                </div>
                </div>
            </section>
        </div>
        <footer>
            <h3>
                Jan Olszański 2017
            </h3>
        </footer>
        <script src="jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script src="scripts/prototypes/Person.js"></script>
        <script src="scripts/datepickerScript.js"></script>
        <script src="scripts/sorting.js"></script>
        <script src="scripts/filtring.js"></script>
        <script src="scripts/functions.js"></script>
        <script>
            
        
        //variable
        
        var sort = [];
        var persons = [];
        var tableRows = [];
        var table = [];
        var filteredPersons = [];
        var dateOne = null;
        var dateTwo = null;
        var pages = 0;
        var page = 1;
        
        //initialize
        sort["id"] = 0;
        sort["firstName"] = 0;
        sort["lastName"] = 0;
        sort["dateOfBirth"] = 0;
        sort["serviceFunction"] = 0;
        sort["experience"] = 0;
        
        //creates table for data form github webpege(wanted file)
        $.getJSON("https://raw.githubusercontent.com/ElderDrop/Projekt-Na-Sta--/master/sluzba.json",function( json ){
            var tmp = 1;
            var k = 5;
            pages++;
            $("#pagetation").append("<li  onclick='organiseTable("+ pages +")' value='"+ pages + "'><a href='#'>1</a></li>");
            for( var i = 0; i < json.length;i++ ){
                var x = json[i];
                persons.push( new Person(x.id,x.firstName,x.lastName,x.dateOfBirth,x.function,x.experience) );
                tmp++;
                if(i < 5){
                    table.push(persons[i]);
                }
                if(tmp == k ){
                    pages++;
                    k += k;
                    $("#pagetation").append("<li onclick='organiseTable("+ pages +")' value="+ pages +"><a href='#'>"+ pages +"</a></li>");
                }   
            }
            
            for( var i = 0; i < table.length;i++ ){
                $("#serviceList").append(table[i].creatRow());
            }
            sorting("id");
        });
        


        
        
        //Angular
        var appName = "Service";
        var app = angular.module(appName, []);
        //puts values in the selects to filtr by function and expiren
        app.controller("selectCtrl",function($scope,$http){
            $http.get("https://raw.githubusercontent.com/ElderDrop/Projekt-Na-Sta--/master/sluzba.json").then(function(data){
               var servicesFunctions = [];
               var experiences = [];
               var persons = [];
               //Is inside checks is it uniqe value
               for(var i = 0; i < data.data.length;i++){
                    if(!isInside(data.data[i].experience,experiences)){
                        experiences.push(data.data[i].experience);
                    };
                   if(!isInside(data.data[i].function.trim(),servicesFunctions))
                        servicesFunctions.push(data.data[i].function.trim());
                    }; 
               
               
               experiences.sort(function( a, b ){return Number(a) - Number(b)});
               $scope.experiences = experiences;
               servicesFunctions.sort((function( a, b ){return a.localeCompare(b)}));
               servicesFunctions.unshift("Brak filtru");
               experiences.unshift("Brak filtru");
               $scope.serviceFunctions = servicesFunctions[0];
               $scope.experiencesOptions = experiences[0];
            return $scope.servicesFunctions = servicesFunctions;
            });
        });  

        
      
        </script>
    </body>
</html>