header{
    background-image: url("BeautyBanner.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 200px;
    width: 100%;
}
main{
  width: 547px;
  float: left;
  margin-bottom: 150px; 
  margin-top: 20px;
}
#pagetation{
  float: right;
}
section{
  float: right;
}
h1{
  text-align: center;
}
.form-control{
  width: 200px;
  margin-bottom: 10px;
}
.filters{
  width: 250px;
  margin: auto;
  float: left;
}
